.svg-workspace {
  $nav-height: 60px;

  width: 100vw;
  height: 100vh;

  .svg-workspace-navbar {
    width: 100%;
    height: $nav-height;
    background-color: rgb(143, 143, 143);
    box-shadow: 0 1px 10px black;
    position: relative;
  }

  .workspace-container{
    width: 100%;
    height: calc(100% - $nav-height);
    background-color: rgb(216, 216, 216);

    display: grid;
    grid-template-columns: 150px calc(100% - 350px) 200px;

    .layers-container {
      background-color: rgb(107, 107, 107);
    }

    .drawing-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .drawing-div {
        width: min-content;
        height: min-content;
        position: relative;
        overflow: hidden;

        .canvas {
          background-color: white;

          g * {
            fill: rgb(215, 215, 215);
            stroke: black;
            stroke-width: 1px;
          }

          g .selected-shape {
            stroke: rgb(7, 86, 125) !important;
            position: relative;
          }
        }
      }
    }

    .edition-tools-container {
      background-color: rgb(107, 107, 107);
      padding: 1rem;

      .mousemodes-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
      }
    }
  }
}
