<div class="svg-workspace">
  <nav class="svg-workspace-navbar">
    <div class="mousemodes-container">
      <button (click)="setMouseMode('circle')"
        class="mousemode-btn"
        [class.selected]="activeBtn == 'circle'">
        <fa-icon [icon]="faCircle"></fa-icon>
      </button>
      <button (click)="setMouseMode('rect')"
        class="mousemode-btn"
        [class.selected]="activeBtn == 'rect'">
        <fa-icon [icon]="faRect"></fa-icon>
      </button>
      <button (click)="setMouseMode('path')"
        class="mousemode-btn"
        [class.selected]="activeBtn == 'path'">
        <fa-icon [icon]="faPath"></fa-icon>
      </button>
      <button (click)="setMouseMode('default')"
        class="mousemode-btn"
        [class.selected]="activeBtn == 'default'">
        <fa-icon [icon]="faDefault"></fa-icon>
      </button>
    </div>
  </nav>
  <div class="workspace-container">
    <div class="layers-container"></div>
    <div class="drawing-container">
      <div class="drawing-div"
        (dragover)="handledragOver($event)">
        <svg class="canvas" #canvas
          [attr.width]="canvasWidth"
          [attr.height]="canvasHeight"
          [attr.viewBox]="viewBoxX + ' '
            + viewBoxY + ' '
            + viewBoxWidth + ' '
            + viewBoxHeight"
          (wheel)="setZoom($event)"
          (mousedown)="mouseDown($event)"
          (mousemove)="mouseMove($event)"
          (mouseup)="mouseUp($event)">

          <defs id="rendering_store">
            <g>
              <circle *ngFor="let c of filterCircles()"
                [id]="c.id"
                [attr.fill]="c.fill"
                [attr.stroke]="c.stroke"
                [class.selected-shape]="c.selected"
                [attr.cx]="c.getCoord(c.start)[0] || 0"
                [attr.cy]="c.getCoord(c.start)[1] || 0"
                [attr.r]="c.radius"
                [style.transform-origin]="c.getCenter()"
                [style.translate]="c.translate[0] + 'px ' + c.translate[1] + 'px'">
              </circle>

              <rect *ngFor="let r of filterRects()"
                [id]="r.id"
                [attr.fill]="r.fill"
                [attr.stroke]="r.stroke"
                [class.selected-shape]="r.selected"
                [attr.x]="r.getCoord(r.start)[0] || 0"
                [attr.y]="r.getCoord(r.start)[1] || 0"
                [attr.width]="r.width"
                [attr.height]="r.height"
                [style.transform-origin]="r.getCenter()">
              </rect>

              <path *ngFor="let s of filterPaths()"
                [id]="s.id"
                [attr.fill]="s.fill"
                [attr.stroke]="s.stroke"
                [class.selected-shape]="s.selected"
                [attr.d]="s.getPath()"
                [style.transform-origin]="s.getCenter()">
              </path>
            </g>
          </defs>

          <rect x="0" y="0" [attr.width]="canvasWidth" [attr.height]="canvasHeight"
            stroke="#ff00ff" fill="none">
          </rect>

          <use *ngFor="let s of shapes"
            class="shape draggable"
            (click)="selectShape(s)"
            [attr.href]="'#' + s.id">
          </use>
        </svg>

        <app-point *ngFor="let point of points"
          (emitPointId)="handlePointClick($event)"
          (draggingPoint)="handlePointDrag($event)"
          [id]="point.id"
          [point]="point"
          [x]="getScaledPoint(point.coord)[0]"
          [y]="getScaledPoint(point.coord)[1]">
        </app-point>
      </div>
    </div>
    <div class="edition-tools-container">
      <app-form-editor></app-form-editor>
      <br>
      <app-styles-editor></app-styles-editor>
    </div>
  </div>
</div>
